KUBELET_ARGS="--kubeconfig=/etc/kubernetes/kubeconfig \
--config=/etc/kubernetes/kubelet.config \
--hostname-override={{ ansible_facts['fqdn'] }} \
--container-runtime-endpoint=unix:///run/containerd/containerd.sock \
--pod-infra-container-image={{ sandbox_image }} \
--v=2"
