[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/etc/kubernetes/etcd
ExecStart=/usr/local/bin/etcd \
  --advertise-client-urls=https://{{ inventory_hostname }}:2379 \
  --cert-file=/etc/kubernetes/ssl/etcd.pem \
  --client-cert-auth=true \
  --data-dir=/etc/kubernetes/etcd/data \
  --experimental-initial-corrupt-check=true \
  --experimental-watch-progress-notify-interval=5s \
  --initial-advertise-peer-urls=https://{{ inventory_hostname }}:2380 \
  --initial-cluster={{ ETCD_NODES }} \
  --initial-cluster-state=new \
  --initial-cluster-token=etcd-cluster \
  --key-file=/etc/kubernetes/ssl/etcd-key.pem \
  --listen-client-urls=https://{{ inventory_hostname }}:2379,https://127.0.0.1:2379 \
  --listen-peer-urls=https://{{ inventory_hostname }}:2380 \
  --listen-peer-urls=https://{{ inventory_hostname }}:2380 \
  --name=etcd-{{ ETCD_NODE_NAME }} \
  --peer-cert-file=/etc/kubernetes/ssl/etcd.pem \
  --peer-client-cert-auth=true \
  --peer-key-file=/etc/kubernetes/ssl/etcd-key.pem \
  --peer-trusted-ca-file=/etc/kubernetes/ssl/ca.pem \
  --snapshot-count=50000 \
  --trusted-ca-file=/etc/kubernetes/ssl/ca.pem

[Install]
WantedBy=multi-user.target
