{
  "CN": "harbor",
  "hosts": [
    "127.0.0.1",
    "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
    "{{ HARBOR_DOMAIN }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "JS",
      "L": "SZ",
      "O": "k8s",
      "OU": "System"
    }
  ]
}
