apiVersion: v1
kind: Config
clusters:
- name: default
  cluster:
    server: https://192.168.3.220:6443
    certificate-authority: /etc/kubernetes/ssl/ca.crt
users:
- name: kubernetes.default.svc
  user:
    client-certificate: /etc/kubernetes/ssl/client.crt
    client-key: /etc/kubernetes/ssl/client.key
contexts:
- context:
    cluster: default
    user: kubernetes.default.svc
  name: default
current-context: default
