KUBE_API_ARGS="--secure-port=6443 \
--tls-cert-file=/etc/kubernetes/ssl/apiserver.crt \
--tls-private-key-file=/etc/kubernetes/ssl/apiserver.key \
--client-ca-file=/etc/kubernetes/ssl/ca.crt \
--apiserver-count=3 \
--endpoint-reconciler-type=master-count \
--etcd-servers=https://{{ groups['etcd'].0 }}:2379,https://{{ groups['etcd'].1 }}:2379,https://{{ groups['etcd'].2 }}:2379 \
--etcd-cafile=/etc/kubernetes/ssl/ca.crt \
--etcd-certfile=/etc/kubernetes/ssl/etcd_client.crt \
--etcd-keyfile=/etc/kubernetes/ssl/etcd_client.key \
--service-cluster-ip-range=172.16.0.0/16 \
--service-node-port-range=30000-32767 \
--allow-privileged=true \
--v=0 \
--service-account-issuer=https://kubernetes.default.svc \
--service-account-key-file=/etc/kubernetes/ssl/apiserver.key \
--service-account-signing-key-file=/etc/kubernetes/ssl/apiserver.key"
