{
  "CN": "system:node:{{ K8S_NODE_NAME }}",
  "hosts": [
    "127.0.0.1",
    "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
    "{{ K8S_NODE_NAME }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "JS",
      "L": "SZ",
      "O": "system:nodes",
      "OU": "System"
    }
  ]
}
