! Configuration File for keepalived

global_defs {
{% if keepalived_activate_script %}
    script_user {{ keepalived_script_user }} {{ keepalived_script_group }}
{% endif %}
    enable_script_security
}

{% if keepalived_enable_process_tracking %}
vrrp_track_process {{ keepalived_track_process }} {
    process {{ keepalived_track_process }}
    quorum 1
    delay 2
}
{% endif %}

vrrp_instance VI_1 {
    interface {{ keepalived_interface }}
    state {{ STATE }}
    priority {{ PRIORITY }}

    virtual_router_id {{ keepalived_virtual_router_id }}
    unicast_src_ip {{ keepalived_unicast_src_ip }}

    virtual_ipaddress {
{% if keepalived_virtual_ipaddress_configs is defined %}
{% for config in keepalived_virtual_ipaddress_configs %}
        {{ config }}
{% endfor %}
{% else %}
        {{ keepalived_virtual_ipaddress_config }}
{% endif %}
    }

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

{% if keepalived_enable_process_tracking %}
    track_process {
        {{ keepalived_track_process }}
    }
{% endif %}

}
