! Configuration File for keepalived

global_defs {
   router_id LVS_DEVEL
}

vrrp_script checkhaproxy {
    script "/usr/bin/check-haproxy.sh"
    interval 2
    weight -30
}

vrrp_instance VI_1 {
    state {{ STATE }}
    priority {{ PRIORITY }}
    interface {{ INTREFACE }}
    garp_master_delay 10
    smtp_alert
    virtual_router_id 88
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        {{ VIP_ADDRESS }}/24 dev {{ INTREFACE }}
    }
    track_script {
        checkproxy
    }
}
