KUBE_CONTROLLER_MANAGER_ARGS="--kubeconfig=/etc/kubernetes/kubeconfig \
--leader-elect=true \
--service-cluster-ip-range={{ service_ip_range }} \
--service-account-private-key-file=/etc/kubernetes/ssl/apiserver.key \
--root-ca-file=/etc/kubernetes/ssl/ca.crt \
--v=2"
